    <article style="background-color: {{ drawer.color }}">
        <h1>{{ drawer.title }}</h1>
        <img src="{{ drawer.image }}">
        <p>{{ drawer.publishedDate|date("m/d/Y") }}</p>
    </article>