<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hellooooooo</title>
</head>
<body>
    {% if category.published %}
    <article style="background-color: {{ category.color }}">
        <h1>{{ category.title }}</h1>
        <p>{{ category.description }}</p>
    </article>
{% else %}
    <p> {{ 'nooooooo' }}</p>
{% endif %}
</body>
</html>