
    {% if star.published %}
        <article style="background-color: {{ star.color }};">
            <h1>{{ star.title }}</h1>
            <p>{{ star.publishedDate | date('d-m-y') }}</p>
        </article>
    {% else %}
        <p>Cette star n'est pas publié</p>
    {% endif %}
